a.goOn {
  background: rgba(112, 59, 28,1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 200%;
}
.overlay {
  background-image: url(../img/menu.jpg) !important;
}
