label, .btn-form button, input {
  font-size: 15pt !important;
  font-style: normal !important;
}

.overlay {
  background-image: none;
  background-color: #FFBF18;
  height: 20%;
}

.panel-footer {
  margin-top: 4%;
}

.btn-form button
{
  margin-left:5px;
}
.btn-submit {
  background-color: #FFBF18;
  border-color: rgba(224,118,56,1);
  color: black;
}

.btn-submit:hover {
  background-color: rgba(224,118,56,1);
  border-color: #FFBF18;
}

.my-4 {
  color: black !important;
}

label {
  display:block;
  text-align:right;
}

@media only screen and (max-width: 500px) {
  .panel-footer {
      margin-top: 20% !important;
  }
  label {
    text-align: center;
  }
}
@media only screen and (max-width: 900px) {
  .panel-footer {
      margin-top: 10%;
  }
}
