@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css");
html, body {
   height: 100%;
   width: 100%;
 }
.main-block{
  height: 100%;
  margin: 0;
  background: #ff8c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #dc143c, #ff8c00); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #dc143c, #ff8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  float:left;
  width: 100%;
  padding : 50px;
}
.banner-sec{
  background:#fff;
  background-size:cover;
  min-height:500px;
  border-radius: 0 10px 10px 0;
  padding:0;
}
.container{
  background:#fff;
  border-radius: 10px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}
.carousel-inner{
  border-radius:0 10px 10px 0;
}
.carousel-caption{
  text-align:left;
  left:5%;
}
.carousel-item{
    margin-top: 10%;
}
.main-sec{
    padding: 50px 30px;
    position:relative;
}
.main-sec img {
  display: block;
  margin: 0 auto;
}
.main-sec .copy-text{
  position:absolute;
  width: 80%;
  bottom:20px;
  font-size:13px;
  text-align:center;
}
.main-sec .copy-text i{
  color:#FEB58A;
}
.main-sec .copy-text a{
  color:#E36262;
}
.main-sec h2{
  margin-bottom:30px;
  font-weight:800;
  font-size:30px;
  color: #ff8c00;
}
.main-sec h2:after{
  content:" ";
  width:100px;
  height:5px;
  background:#ff8c00;
  display:block;
  margin-top:20px;
  border-radius:3px;
  margin-left:auto;margin-right:auto
}
.btn-submit{
  background: #ff8c00;
  color:#fff;
  font-weight:600;
}
.banner-text{
  width:70%;
  position:absolute;
  bottom:40px;
  padding-left:20px;
}
.banner-text h2{
  color:#fff;
  font-weight:600;
}
.banner-text h2:after{
  content:" ";
  width:100px;
  height:5px;
  background: #fff;
  display:block;
  margin-top:20px;
  border-radius:3px;
}
.banner-text p{
  color:#fff;
}
.fieldset-hide{
  display: none;
}

table, td, th {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
    overflow:hidden;
    border-radius: 14px;
}

th {
    height: 30px;
    text-align: center !important;
}

td {
    height: 50px;
    vertical-align: bottom;
}

th, td {
    padding: 15px !important;
    text-align: left;
    font-family: helvetica;
}
tr:nth-child(even) {background-color: #f2f2f2;}
th {
    background-color: #ff8c00;
    color: white;
}
