@font-face {
    font-family: myFirstFont;
    src: url(kraftstoff/Kraftstoff-Regular.otf);
}
.bubble {
	position: relative;
  background:  rgb(255,148,77);
	border: 2px solid rgb(66,38,20);
  max-width:250px;
  padding:10px;
  font-family:myFirstFont;
  margin:0 auto;
  font-size:14px;
  border-radius:6px;

}
.bubble:after,
.bubble:before {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.bubble:after {
	border-color: rgba(255, 255, 204, 0);
	border-right-color: rgb(255,148,77);
	border-width: 15px;
	margin-top: -15px;
}
.bubble:before {
	border-color: rgba(255, 204, 0, 0);
	border-right-color:rgb(66,38,20);
	border-width: 18px;
	margin-top: -18px;
}
.etichetta, .ingr {
  font-size: 28px;
}
.fset {

}
.qnt {
  font-size: 20px;
  width: 20%;
  text-align: center;
}
fieldset label {
  font-size: 17px;

}
.prova {
  column-count: 2;
  column-gap: 0px;
}
