.bubble {
  margin:0 auto;
  font-size:14px;
}
.etichetta, .ingr {
  font-size: 28px;
}
.qnt {
  font-size: 20px;
  width: 20%;
  text-align: center;
}
.prova {
  column-count: 4;
  column-gap: 0px;
}
