.hide {
  display: none;
}
#pagamento {
   margin: 0 auto;
   font-size: 120%;
 }
.ingredienti {
   font-size: 50%;
 }
label.orario {
  text-align: left;
}
.btn-submit {
  background-color: #FFBF18;
  border-color: black;
  color: black;
}

.btn-submit:hover {
  background-color: rgba(224,118,56,1);
  border-color: #FFBF18;
}
.overlay {
  background-image: url(../img/riepilogoOrdine.jpg) !important;
}
h2.my-4 {
  color: black !important;
}
ul.prova {
  list-style-type: none; /* nessun elemento come marcatore */
  padding-left: 0;       /* padding nullo */
  margin-left: 0;        /* margine nullo */
}
div.dettagli {
  display:grid;
}
#note {
  font-style:italic;
  color: grey;
  font-size: 80%;
}
