td {
  font-size: 1.5em;
}
td.modify,td.delete, td.info {
  font-size: 1em;

}
thead{
  font-size: 1.4em;
}
@media only screen and (max-width: 400px)  {
  td {
    font-size: 1em;
  }
  td.modify,td.delete, td.info, .adder {
    font-size: 0.7em;

  }
  thead{
    font-size: 0.9em;
  }
}
